.message-container {
  margin: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  bottom: 35px;
  left: 300px;
  margin-right: 25px;
  letter-spacing: -1px;
  color: white;
  font: 1.3rem "Inconsolata", monospace;
  text-shadow: 0 0 5px #c8c8c8;
}

.messages {
  position: relative;
  display: flex;
}

.Message--meta {
  display: flex;
}
