@import url("https://fonts.googleapis.com/css?family=Roboto:400");

.login-button {
  width: 345px;
  height: 70px;
  margin: 11px auto;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  background-color: #333;

  &:hover {
    background-color: darken(#333, 10%);
    box-shadow: 0px 10px 5px -10px #000;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    transition: 0.5s ease;
  }
}

.login-button-text {
  color: #fff;
  font-family: "Roboto";
  font-size: 1.3em;
  position: absolute;
  left: 100px;
  top: 21px;
}
.icons-top {
  text-align: center;
  left: 5px;
  top: -2px;
  width: 50px;
  padding: 6px;
  position: absolute;
  margin-top: 10px;
  color: white;
}
