$button-color: #1ab188;
$button-dark: darken($button-color, 5%);

.AddPost {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.Message {
  margin-bottom: 25px;
}

.add-message {
  position: relative;
  bottom: 4.5px;
  left: 275px;
  height: 30px;
  width: 600px;
  font-size: 0.99em;
  background: -o-repeating-linear-gradient(
    bottom,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px
  );
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px
  );
  border: none;
  color: #fff;

  &:focus {
    outline: none;
  }
}
